<div class="form-group py-3">
    <label for="InputName">Имя Заказчика</label>
    <input type="text" name="name" class="form-control w-25 user-input" placeholder="Имя Фамилия" value="{{content_data.user.name}}" required>
</div>
<div class="form-group py-3">
    <label for="InputEmail">Адрес электронной почты</label>
    <input type="email" name="email" class="form-control w-25 user-input" id="InputEmail" placeholder="yourmail@yourdomain.com" value="{{content_data.user.email}}">
</div>
<div class="form-group py-3">
    <label for="InputPhone">Телефон</label>
    <input type="text" name="phone" class="form-control w-25 user-input" id="InputPhone" placeholder="1234567890" value="{{content_data.user.phone}}" required>
</div>
<div class="form-group py-3">
    <label for="TextareaAddress">Адрес доставки</label>
    <textarea name="address" class="form-control w-50 user-input" id="TextareaAddress" rows="3" required>{{content_data.user.address}}</textarea>
</div>