<div class="container">
    <div class="row py-2">
        <div class="col-4">Номер заказа</div>
        <div class="col-4">{{content_data.id}}</div>
    </div>
    <div class="row py-2">
        <div class="col-4">Дата заказа</div>
        <div class="col-4">{{content_data.date}}</div>
    </div>
    <div class="row py-2">
        <div class="col-6">Информация о заказчике</div>
    </div>
    <div class="row py-2">
        <div class="col-1"></div>
        <div class="col-4">Имя</div>
        <div class="col-4">{{content_data.name}}</div>
    </div>
    <div class="row py-2">
        <div class="col-1"></div>
        <div class="col-4">Электронная почта</div>
        <div class="col-4">{{content_data.email}}</div>
    </div>
    <div class="row py-2">
        <div class="col-1"></div>
        <div class="col-4">Телефон</div>
        <div class="col-4">{{content_data.phone}}</div>
    </div>
    <div class="row py-2">
        <div class="col-1"></div>
        <div class="col-4">Адрес доставки</div>
        <div class="col-4">{{content_data.address}}</div>
    </div>
    <div class="row py-2">
        <div class="col-6">Состав заказа</div>
    </div>
    <div class="row py-2">
        <div class="col-1"></div>
        <div class="col-4">Наименование товара</div>
        <div class="col-4">Количество</div>
    </div>

    {% for good in content_data.goodsInOrder %}
    <div class="row py-2">
        <div class="col-1"></div>
        <div class="col-4">{{good.goodTitle}}</div>
        <div class="col-4">{{good.quantity}}</div>
    </div>
    {% endfor %}

    <div class="row py-2">
        <div class="col-4">Общая стоимость</div>
        <div class="col-4">{{content_data.total_price}}</div>
    </div>
    <div class="row py-2">
        <div class="col-4">Статус заказа</div>
        <div class="col-4">{{content_data.status}}</div>
    </div>
    <div class="row py-2">
        <div class="col-4">Комментарии к заказу</div>
        <div class="col-4">{{content_data.comments}}</div>
    </div>
    {% if content_data.open %}
    {% if content_data.asAdmin %}
    <form action="" method="post" class="my-2">
        <label for="orderstatus-{{content_data.id}}">Установить новый статус заказа</label>
        <select name="status" id="orderstatus-{{content_data.id}}">
            <option value="1" {% if content_data.status_id == 1 %} selected {% endif %}>Принят в работу</option>
            <option value="2" {% if content_data.status_id == 2 %} selected {% endif %}>Обрабатывается</option>
            <option value="3" {% if content_data.status_id == 3 %} selected {% endif %}>Передан службе доставки</option>
            <option value="4">Успешно завершен</option>
            <option value="5">Отменен клиентом</option>
            <option value="6">Отменен магазином</option>
        </select>
        <input type="hidden" name="id" value="{{content_data.id}}">
        <button type="submit" class="btn btn-primary" id="save-order-{{content_data.id}}" disabled>Сохранить новый
            статус заказа</button>
    </form>
    {% else %}
    <div class="lead">Заказ доступен для редактирования!</div>
    <a href="index.php?path=order/cancel/{{content_data.id}}" class="btn btn-secondary my-2">
        Отменить заказ № {{content_data.id}}
    </a>
    {% endif %}
    {% else %}

    <div class="lead">Заказ закрыт и не может быть изменен!</div>

    {% endif %}
</div>