<div class="card shadow-sm">
    <a href = "public/detail.php?id={{good.good_id}}">
        <img class = "m-2" src = "/lesson4/images/thumbnail/{{ good.image_title }}" alt = "{{ good.image_title }}">
    </a>
    <div class="card-body">
        <p class="card-text">{{good.good_title}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href = "public/detail.php?id={{good.good_id}}">Подробнее</a>
                {# <a class="btn btn-sm btn-outline-secondary" href={buyOrDelHref}>{buyOrDelText}</a> #}
            </div>
            <small class="text-muted">Стоимость:&nbsp;{{good.price}}</small>
        </div>
    </div>
</div>